.about_us {
  min-height: 90vh;
  margin-left: 7em;
  margin-right: 7em;
}
.about-heading {
  margin-left: auto;
  margin-right: auto;
  padding: 5vh 0;
  align-content: center;
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;

  div {
    width: 40vw;
    text-align: center;
  }
}
.content-css {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  div {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 170px;
    width: 170px;
  }
  .content-body {
    align-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .about-content {
    div {
      width: 90%;
    }
  }
}
