.about_us {
  min-height: 90vh;
  // margin-left: 7em;
  // margin-right: 7em;
}
.container-us {
  margin-bottom: 2em;
  padding: auto;
  // padding-right: 15px;
  // padding-left: 15px;
}
.about-heading {
  margin-left: auto;
  margin-right: auto;
  padding: 5vh 0;
  align-content: center;
}
.about-content {
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 0px;
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  flex-direction: column;

  div {
    // width: 40vw;
    text-align: center;
  }
}
.content-css {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  div {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .content-body {
    align-content: center;
    padding: 5em;
  }
}
.img1 {
  border-radius: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}
.detail {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .about-content {
    div {
      width: 90%;
    }
  }
}
