.menu-css,
.second-menu-css {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  //padding: 1vh;
  background-color: whitesmoke;
  margin-bottom: 2vh;

  .img {
    width: 35vw;
    img {
      max-width: 100%;
    }
  }
  .menu-body {
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }
}
.detail-heading:hover {
  color: #ff7a5c;
}
.second-menu-css {
  background-color: whitesmoke;
}
