* {
  margin: 0;
  padding: 0;
}

#contact {
  overflow: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.content {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  color: #808080;
}

#contact #form input {
  float: center;
  width: 70vw;
  border: 0px;
  color: black;
  padding: 10px 10px 10px 30px;
  font: 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
  margin-bottom: 10px;
}
#contact #form textarea {
  float: center;
  border: 0px;
  width: 70vw;
  height: 140px;
  padding: 10px 10px 10px 30px;
  font: 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
  color: #f1f1f1;
  resize: none;
}
#contact #form input.name {
  background: white
    url(http://img7.uploadhouse.com/fileuploads/17737/177370145f09fe433945815665aa214f80dbc6af.png)
    no-repeat 10px 8px;
}
#contact #form input.email {
  background: white
    url(http://img6.uploadhouse.com/fileuploads/17737/177370138cc63992182149e9befabff3eafa6d23.png)
    no-repeat 10px 9px;
}
#contact #form input.captcha {
  background: white
    url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png)
    no-repeat 10px 9px;
}
#contact #form textarea.message {
  background: white
    url(http://img3.uploadhouse.com/fileuploads/17737/1773701229ed8c2f465a8274623ca8976adaf196.png)
    no-repeat 10px 8px;
}
.btn1 {
  width: 30vw;
}
