.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  max-width: 100vw;
}

.background {
  background-color: rgba(255, 255, 255, 0.8);
}
.abc {
  margin-left: auto;
}

.logo {
  width: 2.5vw;
  height: 4vh;
}
