.container {
  min-height: 90vh;
  margin-bottom: 2em;
}
.row {
  margin-top: 2em;
}
.media-body {
  margin-top: 4em;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}
.text-center {
  text-align: center !important;
}
.d-block {
  display: block !important;
}
.media {
  -webkit-box-align: start;
  align-items: flex-start;
}
p {
  margin-bottom: 30px;
  margin-top: 0px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
