.restaurant-css {
  //min-height: 90vh;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 300;

  line-height: 1.5;
  color: rgb(33, 37, 41);
  text-align: center;
}

.para {
  margin-left: 10px;
  margin-right: 10px;
  color: grey;
}
